<div class="card" style="width: 25rem;">
    <img src="/images/MENU.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text" style="text-align: center">CHECK OUR MENU</p>
        <div class="enlaces">
        <a href="/dishes">CHECK THE MENU</a>
        <a href="/dishes/create">CREATE A NEW DISH</a>
        </div>
    </div>
</div>